local-configure.yml
.vagrant/
docs/_build/
#roles/ANXS.apt
#roles/ANXS.hostname
#roles/audit
#roles/default_config
#roles/fail2ban
#roles/haproxy
#roles/jnv.unattended-upgrades
#roles/logwatch
#roles/motd
#roles/munin-node
#roles/nginx
#roles/plone.plone_server
#roles/postfix
#roles/restart_script
#roles/timezone
#roles/varnish
#
#roles/plone.plone_server
#roles/jnv.unattended-upgrades
#roles/tersmitten.fail2ban
#roles/ANXS.hostname
#roles/ANXS.apt
._*
bin/
lib/
include/
local/
tests.out
*.retry
*.log
vbox_host.cfg
.DS_Store
*.py[co]
